# ignore Dockerfile
.dockerignore
Dockerfile

# ignore git
.gitignore
.git

# ignore local node_modules
node_modules

# ignore tmp objects
*.sw*

# ignore config
.env
confd

# ignore src
src

# ignore testing
integration

# ignore generated output
dist

# ignore dev tool
gulpfile.js
